<div class="row">
  <div class="col-md-4" *ngIf="!isLogin">
    <h1>Register</h1>
    <hr>
    <br>
    <form (ngSubmit)="onRegister()" novalidate [formGroup]="userForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="enter email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="enter password"
               formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="f"></label>
        <select formControlName="role" id="f" name="role">
          <option [ngValue]="null" disabled>choose you role</option>
          <option *ngFor="let item of roles | keys" value="{{item.value}}">{{item.key}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
  <div class="col-md-4" *ngIf="isLogin">
    <p>Already Login!</p>
    <button type="submit" class="btn btn-primary" (click)="onLogout()">logout</button>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
