<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
    <a [routerLink]="['/home-work']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HomeWork</a>
    <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Profile</a>
    <app-role-menu></app-role-menu>
  </nav>
</header>
